{% extends 'base.html.twig' %} 

{% block title %}Registro de Participantes{% endblock %}

{% block stylesheets %}
<style>
	.ocult{
		display:none;
	}
</style>
{% endblock %}



{% block body %}


        {% for message in app.flashes('exito') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}

<div class="container">
	<legend>Registro de Participantes</legend>
	{{form(formulario)}}
</div>

{% endblock %}
{% block javascripts %}
	


	<script>
	$(document).ready(function(){

		var plantilla_autocompletar=`
			<div class="form-group">
				<label for="autocompletar_ciudad">Ciudad</label>
				<input type="text" id="autocompletar_ciudad" class="form-control">
			</div>
		`;
		$('#participantes_form_ciudad').after(plantilla_autocompletar);

		$('#autocompletar_ciudad').keyup(function(){
			var ciudad=$(this).val();
			
			if(ciudad.length>3){
				$.ajax({
					type:'POST',
					dataType: 'json',
					url: "/participantes/AutocompletarCiudad/"+ciudad,
					data: {
						ciudad:ciudad
					},
					success:function(datos){				
						
						var html='<ul class="list-group" id="lista_municipios">';
						var arr_municipios=datos.municipios;
						for(i=0;i<arr_municipios.length;i++){
							html+='<li class="list-group-item opcion_municipio" key="'+arr_municipios[i]['id']+'" mun="'+arr_municipios[i]['municipio']+'" >'+arr_municipios[i]['municipio']+'</li>';
						}
						html+='</ul>';	
						
						$('#lista_municipios').remove();
						$('#autocompletar_ciudad').after(html);		
					}	
				});					
			}

		});

		$(document).on('click','.opcion_municipio',function(){
			var id=$(this).attr('key');
			var municipio=$(this).attr('mun');

			$('#participantes_form_ciudad').val(id);
			var cadena_seleccionado=`<br><span id="seleccionado_${id}">${municipio}&nbsp;</span><input class="btn btn-danger" type="button" id="edit_municipio" key="${id}" value="X">`;	
			$('#autocompletar_ciudad').val('').addClass('ocult').after(cadena_seleccionado);
			$('#lista_municipios').remove();
			setTimeout(function(){ $('#lista_municipios').remove(); }, 1000);


		});

		$(document).on('click','#edit_municipio',function(){
			var id=$(this).attr('key');
			$(this).remove();
			$('#seleccionado_'+id).remove();
			$('#autocompletar_ciudad').val('').removeClass('ocult');
			$('#participantes_form_ciudad').val('');
		});


		$('#participantes_form_documento').blur(function(){
			
			var documento=$(this).val();
			$.ajax({
		        type:"POST",
		        url: "/participantes/validaDocumento/"+documento,
		        dataType:'json',
		        async:false,
		        data: {
		        	documento:documento
		        	
		        },               
		        success: function(data){        

		        	if(!data.exito){ //ya existe
		        		alert('El numero de documento ingresado ya existe en el sistema, favor ingresar otro documento.');
		        		$('#participantes_form_documento').val('').focus();
		        	}
		        }

		    });



		});



	});
	</script>

{% endblock %}
