{% extends 'base.html.twig' %}

{% block title %}Hello SorteoController!{% endblock %}

{% block body %}


	<div class="container">
		<h1>Sorteo</h1>

		<button class="btn btn-primary" type="button" id="registrar_ganador">Registrar Ganador</button>
		<br>
		<br>
			<div class="card border-dark " >	
				<div class="card-header bg-primary text-white">Lista Productos</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="tabla_ganadores">
					
						</table>
				 	</div>			  
				</div>
		 	</div>	


	</div>



{% endblock %} 

{% block javascripts %}
	

	<script>
	function dt_productos(){
		datatable =$("#tabla_ganadores").DataTable({       
			paging: true,	
			stateSave: true,	
			"pageLength": 10,
			"searching": true,
			"autoWidth": false,		
			ordering:false,
			columns: [
				{ title: "Documento" },
				{ title: "Nombre" },
				{ title: "Ciudad" }
			],		
			dom: 'Bfrtip',
			buttons: [{
				extend: 'excel',
				text: 'Excel',
				className: 'exportExcel btn btn-success excel_btn borde_card',
				filename: 'Lista de Productos',
				exportOptions: {
					modifier: {
						page: 'all'
					},
				}	     
			}],		
			"language": {			
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Registros  _START_ al _END_ - Total  _TOTAL_ registros",
				"sInfoEmpty":      "Registros  0 al 0 - Total  0 registros",
				"sInfoFiltered":   "(filtrado 	 total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {		
					"sFirst":    "Primero",		
					"sLast":     "Último",		
					"sNext":     "Siguiente",		
					"sPrevious": "Anterior"		
				},
				"oAria": {		
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",		
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"		
				}
			},
		});
		$(".excel_btn").html('Excel <i class="far fa-file-excel"></i>');
	}



		function cargar_ganadores(){


			

			$.ajax({
		        type:"POST",
		        url: "/sorteo/ganadores",
		        dataType:'json',
		        async:false,
		        data: {},               
		        success: function(data){


						var obj = JSON.parse(datos.data);
						var datatable = $( '#tabla_productos' ).DataTable();
										
						datatable.clear();
				   		datatable.rows.add(obj);
				   		datatable.draw();		
		        	
		        }

		    });

		} //fin cargar ganadores


		$(document).ready(function(){
			dt_productos();



			$('#registrar_ganador').click(function(){

				$.ajax({
			        type:"POST",
			        url: "/sorteo/registrarGanador",
			        dataType:'json',
			        async:false,
			        data: {},               
			        success: function(data){


							var obj = JSON.parse(datos.data);
							var datatable = $( '#tabla_productos' ).DataTable();
											
							datatable.clear();
					   		datatable.rows.add(obj);
					   		datatable.draw();		
			        	
			        }

			    });

			});






		});
	</script>

{% endblock %}	
