<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <script src="{{ asset('js/jquery-3.4.1.js') }}"></script>


        
            <link rel="stylesheet" type="text/css" href="{{ asset('js/datatables/datatables.min.css') }}"/>
            <script type="text/javascript" src="{{ asset('js/datatables/datatables.min.js')}}"></script>   
            <script type="text/javascript" src="{{ asset('js/datatables/dataTables.buttons.min.js')}}"></script>
            <script type="text/javascript" src="{{ asset('js/datatables/jszip.min.js')}}"></script>    
            <script type="text/javascript" src="{{ asset('js/datatables/buttons.html5.min.js')}}"></script>    


        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
